@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Tiny5&display=swap");

.background {
  position: absolute;
  width: 650px;
  height: 812px;
  left: 0px;
  top: 0px;
}

.title {
  /* Buldak Timer */

  position: absolute;
  width: 425px;
  height: 84px;
  left: 112px;
  top: 44px;

  font-family: "Pixelify Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 84px;
  /* identical to box height */

  color: #ffffff;
}

.startBuldak {
  /* image 1 */

  position: absolute;
  width: 286px;
  height: 286px;
  left: 182px;
  top: 263px;

  background: url(image.png);
}

.start {
  /* Let’s cook! */

  position: absolute;
  width: 298px;
  height: 66px;
  left: 176px;
  top: 549px;

  font-family: "Pixelify Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 66px;
  /* identical to box height */

  color: #ff5470;
}

.close {
  /* close 1 */

  position: absolute;
  width: 48px;
  height: 48px;
  left: 587px;
  top: 20px;

  background: url(close.png);
}

.startBuldak:hover {
  /* buldak2 1 */

  position: absolute;
  width: 341px;
  height: 341px;
  left: 154px;
  top: 228px;
  cursor: pointer;
}

.done {
  /* BuldakDone 1 */

  position: absolute;
  width: 274px;
  height: 365px;
  left: 188px;
  top: 247px;

  background: url(BuldakDone.png);
}

.buldaktime {
  /* Buldak time! */

  position: absolute;
  width: 350px;
  height: 72px;
  left: 150px;
  top: 614px;

  font-family: "Pixelify Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
  /* identical to box height */

  color: #584c84;
  paint-order: stroke fill;
  -webkit-text-stroke-width: 10px;
  -webkit-text-stroke-color: white;
}

/* image 4 */
.pixie1 {
  position: absolute;
  width: 70px;
  height: 112px;
  left: 95px;
  top: 500px;

  background: url(image.png);
}

/* image 5 */
.pixie2 {
  position: absolute;
  width: 66px;
  height: 106px;
  left: 482px;
  top: 450px;

  background: url(image.png);
}
/* image 6 */
.pixie3 {
  position: absolute;
  width: 55px;
  height: 88px;
  left: 137px;
  top: 203px;

  background: url(image.png);
}

/* image 7 */
.pixie4 {
  position: absolute;
  width: 55px;
  height: 88px;
  left: 434px;
  top: 262px;

  background: url(image.png);
}
/* image 8 */
.pixie5 {
  position: absolute;
  width: 55px;
  height: 88px;
  left: 500px;
  top: 168px;

  background: url(image.png);
}
